/* work sans font fron google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.common-button {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* header styles */
/* nav styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.nav-title {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 60px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner styles */

.banner {
    margin: auto;
}

.banner-container {
    margin: auto;
    text-align: center;
    /* margin-left: 160px;
    width: 862px;*/
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    padding-bottom: 30px;
}

.banner-para {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.banner-img {
    width: 100%;
    padding-top: 50px;
    padding-right: 300px;
}



/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* feature section styles */

.feature-container {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    padding-top: 85px;
    padding-left: 150px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-title {
    padding-bottom: 30px;
}

.feature-texts{
    width: 490px;
}

.feature-para {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.quick-list {
    color: #727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.feature-color {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}



/* responsive media queries */
/* for mobile phone */
@media screen and (max-width: 576px) {
    /* for header */
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    nav li {
        margin: 0px 15px 0 0;
    }

    nav>ul {
        margin-right: 20px;
    }

    nav li a {
        font-size: 15px;
    }

    /* for feature section */
    .feature-container{
        flex-direction: column-reverse;
        padding-left: 0;
    }
    .feature-img{
        grid-template-columns: 1fr;
    }
    .feature-texts{
        width: 300px;
        text-align: center;
    }

}

/* for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* for header */
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        padding-bottom: 30px;
    }

    nav>ul {
        margin-right: 100px;
    }

    nav li a {
        font-size: 1.2rem;
    }

    /* for feature section */
    .feature-container{
        flex-direction: column-reverse;
        padding-left: 0;
    }
    .feature-img{
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
    .feature-texts{
        width: 400px;
        text-align: center;
        padding: 20px;
    }
}