/* work sans font fron google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.common-button {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* header styles */
/* nav styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.nav-title {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 60px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner styles */

.banner-container {
    text-align: center;
    margin-left: 100px;
    width: 862px;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    padding-bottom: 30px;
}

.banner-para {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.banner-img {
    width: 1440px;
    height: 700px;
    padding-top: 50px;
    margin: auto;
}